/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Seção de Boas-vindas */
.hero-section {
    background-image: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #6e8efb;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: #6e8efb;
    color: #fff;
}

/* Seção Sobre Mim */
.about-section {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1em;
    color: #666;
}

/* Seção Habilidades */
.skills-section {
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
}

.skills-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    flex: 1 1 200px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção Contato */
.contact-section {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1em;
    color: #ccc;
}

.main-footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
